* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: url('./hamada.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 350px;
    top: 50px;
    left: 50px;
    transform: translate(7%, 22%);
    position: absolute;
    color: beige;

}

.container h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.container p {
    font-size: 20px;
    margin: 15px 0;
}

.container input {
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

#haha {
    font-size: 16px;
    margin: 15px 0;

}

.container button {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 15px;
    width: 40%;
    height: 45px;
    border-radius: 5px;
}

#log {
    background-color: #1a89d3;
}